## UNData API Exercise

In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2021 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [2]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import json
import numpy as np

In [3]:
endpoint_GDP = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json'

params_GDP = {
'per_page': 20000
}

response_GDP = requests.get(endpoint_GDP,params = params_GDP)
response_GDP

In [4]:
GDP_df = pd.json_normalize(response_GDP.json()[1])
GDP_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,4047.007031,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17019,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17020,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17021,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17022,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17023,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

In [5]:
endpoint_LE = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json'

params_LE = {
'per_page': 20000
}

response_LE = requests.get(endpoint_LE, params=params_LE)
response_LE

In [6]:
life_expectancy_df = pd.json_normalize(response_LE.json()[1])
life_expectancy_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2022,62.899031,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2021,62.454590,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2020,63.313860,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2019,63.755678,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17019,ZWE,1964,54.994000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17020,ZWE,1963,54.549000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17021,ZWE,1962,54.071000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17022,ZWE,1961,53.619000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17023,ZWE,1960,53.235000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [7]:
GDP_df = GDP_df.rename(columns=
              {'countryiso3code' : 'Country_Code',  
               'country.id' : 'Country_ID', 
               'country.value' : 'Country_Value',
               'date' : 'Date',
               'value' : 'GDP_Per_Capita'})

In [8]:
GDP_df = GDP_df.drop(['unit', 'obs_status', 'decimal','indicator.id', 'indicator.value'], axis=1)
GDP_df

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern
...,...,...,...,...,...
17019,ZWE,1964,NaN,ZW,Zimbabwe
17020,ZWE,1963,NaN,ZW,Zimbabwe
17021,ZWE,1962,NaN,ZW,Zimbabwe
17022,ZWE,1961,NaN,ZW,Zimbabwe
17023,ZWE,1960,NaN,ZW,Zimbabwe

In [9]:
life_expectancy_df = life_expectancy_df.rename(columns=
              {'countryiso3code' : 'Country_Code',
               'country.id' : 'Country_ID', 
               'country.value' : 'Country_Value',
               'date' : 'Date',
               'value' : 'Life_Expectancy'})

In [10]:
life_expectancy_df = life_expectancy_df.drop(['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value'], axis=1)
life_expectancy_df

,Country_Code,Date,Life_Expectancy,Country_ID,Country_Value
0,AFE,2023,NaN,ZH,Africa Eastern and Southern
1,AFE,2022,62.899031,ZH,Africa Eastern and Southern
2,AFE,2021,62.454590,ZH,Africa Eastern and Southern
3,AFE,2020,63.313860,ZH,Africa Eastern and Southern
4,AFE,2019,63.755678,ZH,Africa Eastern and Southern
...,...,...,...,...,...
17019,ZWE,1964,54.994000,ZW,Zimbabwe
17020,ZWE,1963,54.549000,ZW,Zimbabwe
17021,ZWE,1962,54.071000,ZW,Zimbabwe
17022,ZWE,1961,53.619000,ZW,Zimbabwe
17023,ZWE,1960,53.235000,ZW,Zimbabwe

In [11]:
merged_GDP_le = pd.merge(GDP_df, life_expectancy_df, how="inner", on = ["Country_Code", "Date", "Country_ID", "Country_Value"])
merged_GDP_le.head()

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value,Life_Expectancy
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern,NaN
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern,62.899031
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern,62.454590
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern,63.313860
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern,63.755678

In [12]:
endpoint_country = 'https://api.worldbank.org/v2/country/all?format=json'

params_country = {
'per_page': 300
}

response_country = requests.get(endpoint_country, params = params_country)
response_country

In [13]:
country_df = pd.json_normalize(response_country.json()[1])
country_df.head()

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates

In [14]:
country_df = country_df.rename(columns=
              {'name': 'Country_Value',
               'id': 'Country_Code',
              'iso2Code': 'Country_ID'}
)
country_df

,Country_Code,Country_ID,Country_Value,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [15]:
merged_GDP_le_country = pd.merge(merged_GDP_le, country_df, how="inner", on= ["Country_Code", "Country_ID", "Country_Value"])
merged_GDP_le_country

,Country_Code,Date,GDP_Per_Capita,Country_ID,Country_Value,Life_Expectancy,capitalCity,longitude,latitude,region.id,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,AFE,2023,4047.007031,ZH,Africa Eastern and Southern,NaN,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
1,AFE,2022,4038.638689,ZH,Africa Eastern and Southern,62.899031,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFE,2021,3994.171654,ZH,Africa Eastern and Southern,62.454590,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
3,AFE,2020,3919.499230,ZH,Africa Eastern and Southern,63.313860,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFE,2019,4130.057222,ZH,Africa Eastern and Southern,63.755678,,,,NA,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16571,ZWE,1964,NaN,ZW,Zimbabwe,54.994000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16572,ZWE,1963,NaN,ZW,Zimbabwe,54.549000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16573,ZWE,1962,NaN,ZW,Zimbabwe,54.071000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16574,ZWE,1961,NaN,ZW,Zimbabwe,53.619000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16575,ZWE,1960,NaN,ZW,Zimbabwe,53.235000,Harare,31.0672,-17.8312,SSF,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

merged_GDP_le_country = merged_GDP_le_country[merged_GDP_le_country['region.id'] != 'NA']
merged_GDP_le_country

**Bonus Questions:** After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.

1. Adjust your request so that it returns data just for the United States.

In [18]:
endpoint_US = 'https://api.worldbank.org/v2/country/USA/indicator/NY.GDP.PCAP.PP.KD?format=json'
params_US = {
'per_page': 70
}

response_US = requests.get(endpoint_US, params = params_US)
response_US

In [19]:
country_US = pd.json_normalize(response_US.json()[1])
country_US

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2023,73637.302789,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2022,72165.483470,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
2,USA,2021,71055.876194,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
3,USA,2020,67266.187874,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
4,USA,2019,69458.610183,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
...,...,...,...,...,...,...,...,...,...,...
59,USA,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
60,USA,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
61,USA,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
62,USA,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
63,USA,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

2. Adjust your request so that it returns data just for the United States for the year 2021.

In [21]:
endpoint_US = 'https://api.worldbank.org/v2/country/USA/indicator/NY.GDP.PCAP.PP.KD?date=2021&format=json'
params_US = {
'per_page': 70
}

response_US = requests.get(endpoint_US, params = params_US)
response_US

In [39]:
country_US = pd.json_normalize(response_US.json()[1])
country_US

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,71055.876194,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [47]:
endpoint_US = 'https://api.worldbank.org/v2/country/USA/indicator/NY.GDP.PCAP.PP.KD?date=2000:2021&format=json'
params_US = {
'per_page': 30
}

response_US = requests.get(endpoint_US, params = params_US)
response_US

In [48]:
country_US = pd.json_normalize(response_US.json()[1])
country_US

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,71055.876194,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2020,67266.187874,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
2,USA,2019,69458.610183,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
3,USA,2018,68095.686806,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
4,USA,2017,66482.893439,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
5,USA,2016,65299.999384,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
6,USA,2015,64599.573736,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
7,USA,2014,63214.895346,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
8,USA,2013,62112.583447,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
9,USA,2012,61247.317072,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
10,USA,2011,60317.542521,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
11,USA,2010,59821.665081,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
12,USA,2009,58736.946133,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
13,USA,2008,60821.185961,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
14,USA,2007,61329.539227,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
15,USA,2006,60699.272085,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
16,USA,2005,59627.059056,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
17,USA,2004,58153.387828,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
18,USA,2003,56519.350712,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
19,USA,2002,55456.862403,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
20,USA,2001,55037.893673,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
21,USA,2000,55059.219169,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [51]:
endpoint_US_CAN = 'https://api.worldbank.org/v2/country/USA;CA/indicator/NY.GDP.PCAP.PP.KD?date=2000:2021&format=json'
params_US_CAN = {
'per_page': 50
}

response_US_CAN = requests.get(endpoint_US_CAN, params = params_US)
response_US_CAN

In [53]:
country_US_CAN = pd.json_normalize(response_US_CAN.json()[1])
country_US_CAN

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,55781.699027,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
1,CAN,2020,53274.910930,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
2,CAN,2019,56713.088877,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
3,CAN,2018,56470.459267,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
4,CAN,2017,55756.262482,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
5,CAN,2016,54765.303772,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
6,CAN,2015,54819.189035,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
7,CAN,2014,54880.858202,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
8,CAN,2013,53884.845588,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
9,CAN,2012,53217.713583,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
10,CAN,2011,52869.387856,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
11,CAN,2010,51763.675810,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
12,CAN,2009,50772.869922,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
13,CAN,2008,52899.475450,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
14,CAN,2007,52948.899427,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
15,CAN,2006,52391.379262,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
16,CAN,2005,51564.845565,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
17,CAN,2004,50436.294843,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
18,CAN,2003,49381.595036,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
19,CAN,2002,48943.541241,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
20,CAN,2001,48036.626618,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
21,CAN,2000,47667.433086,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",CA,Canada
22,USA,2021,71055.876194,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
23,USA,2020,67266.187874,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
24,USA,2019,69458.610183,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
25,USA,2018,68095.686806,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
26,USA,2017,66482.893439,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
27,USA,2016,65299.999384,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
28,USA,2015,64599.573736,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
29,USA,2014,63214.895346,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

5. If you haven't already done so and you would like to get some additional practice using loops, use the page parameter in order to pull all records. Do not change the value of the per_page parameter. You will likely need to utilize a loop of some kind in order to pull all records.